<!DOCTYPE html>
<html ng-app="edo">
<head>
  <title>WebControl</title>
  <meta name="author" content="Ed Alegrid"/>
  <meta name="description" content="Node-RaspberryPi-WebControl"/>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/index.css" rel="stylesheet"/>
  <script src="angular/angular.min.js"></script>
  <script src="js/DeviceController.js"></script>
</head>
<body ng-controller="DeviceController" >
<br/>
<div class="container">
<!-- Static navbar -->
  <nav class="navbar navbar-Inverse">
    <div class="container-fluid">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" id="title" href="#" >Raspberry Pi - Web Control Project</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
 </nav>
<hr/>
<div class="row">
<div class="col-lg-8">
<div class="panel panel-default">
  <div id="status" class="panel-body"> 
  <!-- return data display -->
    <span ng-repeat="x in rpi.status">{{x.d}}</span>
  </div>
</div>
</div>

<!-- Device 1, 2, 3 , 4 -->
<div class="col-lg-8" ng-hide="rpi.show1">
<div class="panel panel-default">
  <div class="panel-body"> 
  <form role="form">
    <button id="toggleBtn" ng-repeat="x in rpi.d1" ng-style={background:'{{x.color}}'} class="btn-lg btn-info" ng-click="rpi.sd('on0')">
    Output <span id="badge" class="badge">1</span>  <span id="state" >{{x.state}} </span>
    </button>
  </form>
  </div>
</div>	
</div>

<div class="col-lg-8" ng-hide="rpi.show2">
<div class="panel panel-default">
  <div class="panel-body"> 
  <form role="form">
  <button id="toggleBtn" ng-repeat="x in rpi.d2" ng-style={background:'{{x.color}}'} class="btn-lg btn-info" ng-click="rpi.sd('on1')">
    Output <span id="badge" class="badge">2</span> <span  id="state" > {{x.state}} </span>
    </button>
  </form>
  </div>
</div>	
</div>

<div class="col-lg-8" ng-hide="rpi.show3">
<div class="panel panel-default">
  <div class="panel-body"> 
  <form role="form">
  <button id="toggleBtn" ng-repeat="x in rpi.d3" ng-style={background:'{{x.color}}'} class="btn-lg btn-info" ng-click="rpi.sd('on2')">
    Output <span id="badge" class="badge">3</span> <span id="state" > {{x.state}} </span>
  </button>
  </form>
  </div>
</div>	
</div>

<div class="col-lg-8" ng-hide="rpi.show4">
<div class="panel panel-default">
  <div class="panel-body"> 
  <form role="form">
  <button id="toggleBtn" ng-repeat="x in rpi.d4" ng-style={background:'{{x.color}}'} class="btn-lg btn-info" ng-click="rpi.sd('on3')">
    Output <span id="badge" class="badge">4</span> <span id="state" > {{x.state}} </span>
  </button>
  </form>
  </div>
</div>	
</div>


<!-- Unlock button -->
<div class="col-lg-8">
<div class="panel panel-default">
  <div class="panel-body"> 
  <form role="form">
  <button id="toggleBtn" ng-repeat="x in rpi.d5" ng-style={background:'{{x.color}}'} class="btn-lg btn-info" ng-click="rpi.lock()">
    <span id="state" >{{x.state}} </span>
  </button>
  </form>
  </div>
</div>	
</div>

<div class="col-lg-8">
  <footer id="footer" class="footer" >
    <p>&copy; Ed Alegrid 2017</p>
  </footer>
</div>

</div> <!-- row -->  
</div> <!-- container --> 

</body>
</html>


